@import "orig-variables.less";

// the default bootstrap grid doesn't handle ipads and galaxy
// tabs nicely
@screen-md: 1025px;

// @font-face {
//     .font-face(family-name, '../fonts/file');
// }

@color-white: #ffffff;

@font-size-base: 16px;

